<!DOCTYPE html>
<html>
<head>
  <title>ProjectMapspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'partials/navbar' %>
  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>
